body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 26px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
    color: #333;
}


select, button {
    padding: 10px;
    font-size: 16px;
}

.table_scroll {
    max-height: 800px;
    overflow-y: auto;
}

.table_1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_1, .table_1 th, .table_1 td {
    border: 3px solid #ddd;
}

.table_1 th, .table_1 td {
    padding: 10px;
    text-align: center;
}

.table_1 th {
    background-color: #4caf50;
    color: white;
}

.table_1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
